{% extends "layout.html" %}
{% block body %}
  <div class="container">
    <form action="{{ url_for('add_widget') }}" method="post">
      <div class="form-group">
        <label for="widget_name">Create a new widget</label>
        <input type="text" class="form-control" name="widget_name" size="100" placeholder="Widget Text">
      </div>
      <input type="submit" class="btn btn-default" value="submit">
    </form>
  </div>

  <div class="container">
    <div class="columns large-12">
  		<h2>
        Widgets
      </h2>
  	</div>

  	<div class="widgets">
    {% for widget in widgets %}
      <blockquote class="blockquote">
        {{ widget[1] }}
      </blockquote>

    {% else %}
      <div class="error">
        <em>Unbelievable.  No entries here so far</em>
    {% endfor %}
    	</div>
    </div>
  </div>

{% endblock %}
